
<!--
File: app.component.html
Author:Orosz Levente
Copyright: 2022, Orosz Levente
Group: Szoft-II-N
Date: 2022-11-29
Github: https://github.com/Olevente/
Licenc: GNU GPL
-->

<div class="container">
  <h1>Feladat 0354</h1>

  <h2>Két egyenlő oldalú telek terület számítása</h2>

  <div class="teglalap">
      <div>
          <label for="aside" class="form-label">A oldal:</label>
          <div class="col-sm-2">
              <input type="text" class="form-control" [(ngModel)] = "aside" id="aside">
          </div>
      </div>

      <div class="mb-3">
          <label for="bside" class="form-label">B oldal: </label>
          <div class="col-sm-2">
              <input type="text" class="form-control" [(ngModel)] = "bside" id="bside">
          </div>
      </div>

      <button class="btn btn-dark mb-2" (click)="calcArea()">Számítás</button>

      <div class="mb-3" *ngIf="edited">
          <label for="result" class="form-label" >Terület: </label>
          <div class="col-sm-2">
              <input type="text" class="form-control" [(ngModel)] = "area" disabled>
          </div>
      </div>
      
  </div>

  <div class="bg-secondary text-center">Orosz Levente, Szoft-II-N, 2022-11-29</div>

</div>